div.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
div.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(112, 148, 184, 0.75);
  z-index: auto;
}
div.modal-dialog {
  position: relative;
  margin: 40px auto;
  width: 600px;
  padding: 0;
  background: white;
  box-shadow: 0px 2px 10px #7094b8;
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
div.modal-dialog h1.modal-header {
  margin: 0;
  padding: 20px 20px 20px;
  font-size: 21px;
  line-height: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
div.modal-dialog div.modal-content {
  padding: 20px;
}
div.modal-dialog div.modal-footer {
  border-top: 1px solid #ddd;
  padding: 20px;
  text-align: right;
}
div.modal-dialog h2 {
  margin: 0;
  padding: 0 0 10px;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  color: #369;
}
div.modal-dialog h3 {
  margin: 0;
  padding: 0 0 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}
div.modal-dialog ul {
  margin: 0;
  list-style-type: square;
  padding: 0 0 10px 20px;
}
