footer {
  position: relative;
  height: 21px;
  border: 1px solid #369;
  border-width: 1px 0 2px;
  background: #ccc;
  vertical-align: middle;
  line-height: 18px;
}
footer > span.prompt {
  display: block;
  position: absolute;
  font-size: 11px;
  height: 18px;
  line-height: 18px;
  padding: 0 10px;
}
footer .page {
  position: absolute;;
  /*background: red;*/
  top: 0;
  left: 200px;
  right: 200px;
  text-align: center;
  font-size: 11px;
  height: 18px;
  line-height: 18px;
}
footer progress {
  height: 8px;
  width: 110px;
  border: 1px solid black;
  margin: 5px 0 0 5px;
  vertical-align: top;
  color: #390;
}
footer progress::-moz-progress-bar {
  background-color: #390;
}
footer progress::-webkit-progress-bar {
  background: white;
}
footer progress::-webkit-progress-value {
  background-color: #390;
}
footer nav {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer nav > button {
  float: left;
  display: block;
  text-decoration: none;
  display: block;
  height: 18px;
  color: #258;
  background: #ddd;
  font-size: 11px;
  font-family: 'Arial';
  font-weight: bold;
  line-height: 18px;
  border: none;
  border-left: 1px solid #369;
  padding: 0 20px;
}
footer nav > button:disabled {
  display: none;
}
footer nav > button > svg > polygon {
  fill: #390;
  fill-opacity: 1;
  stroke-width: 2;
  stroke: #390;
  stroke-linejoin: round;
}
footer nav > button:focus > svg > polygon,
footer nav > button:hover > svg > polygon {
  stroke: white;
  fill: white;
}
footer nav > button > svg { vertical-align: baseline; }
footer nav > button.back > svg { margin-right: 3px; }
footer nav > button.next > svg { margin-left: 3px; }

footer nav > button:focus,
footer nav > button:hover {
  background: #369;
  color: white;
}
