#screens {
  height: 480px;
  padding: 10px 20px 20px;
  font-size: 14px;
  line-height: 20px;
  color: #345;
}
#screens .screen-content {
  position: relative;
  height: 410px;
}
#screens h2 {
  color: #369;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 10px;
}
#screens h3 {
  color: #333;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  margin: 20px 0;
}
#screens p {
  margin: 0 0 20px;
}
#screens ul strong,
#screens ol strong,
#screens p strong {
  color: black;
}
#screens ul {
  list-style-type: square;
  padding-left: 20px;
  margin: 20px 0;
}
#screens a {
  color: #04b;
}
#screens a:hover,
#screens a:focus {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.75);
  color: #06c;
}

#screens .text-component ul:last-child,
#screens .text-component p:last-child {
  margin-bottom: 0;
}
