* {
  box-sizing: border-box;
}
body {
  background: #7094b8;
  font-family: Arial;
  margin: 20px 0;
}
sup.footnote {
  line-height: 1;
}
sup.footnote a {
  text-decoration: none;
}
div.course {
  background: white;
  width: 800px;
  height: 600px;
  margin: 20px auto 0;
}
header {
  height: 99px;
  background: #369;
  border-bottom: 4px solid #390;
}
header > div {
  height: 72px;
  position: relative;
  overflow: hidden;
}
.logo {
  height: 72px;
  width: 167px;
  padding: 10px;
  position: absolute;
}
.logo img {
  width: 147px;
  height: 52px;
}
h1.course-title {
  color: white;
  position: absolute;
  height: 52px;
  top: 0;
  left: 168px;
  margin: 10px 300px 10px 0;
  font-family: "Times New Roman";
  font-weight: normal;
  font-size: 16px;
  padding: 0 0 0 10px;
  border-left: 1px solid white;
}
a.skip-link {
  position: absolute;
  top: -1000em;
}
a.skip-link:focus {
  position: absolute;
  display: block;
  right: 10px;
  top: 10px;
  background: white;
  padding: 5px;
}
div.tabs,
ul.tabs {
  list-style-type: none;
  float: right;
  height: 72px;
  margin: 0;
  padding: 52px 10px 0 8px;
}
div.tabs button {
  display: block;
  float: left;
  background: #ccc;
  border: 1px solid white;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  margin-left: 2px;
  height: 20px;
  padding: 4px 14px;
  font-size: 11px;
  font-family: Arial;
  font-weight: bold;
  line-height: 13px;
  cursor: pointer;
}
div.tabs button:focus,
div.tabs button:hover {
  background: #333;
  color: white;
  border-color: #ccc;
}
header > nav {
  height: 23px;
  background: #ccc;
  border: 1px solid white;
  border-width: 1px 0;
  position: relative;
}
span.breadcrumb {
  display: block;
  height: 21px;
  line-height: 21px;
  font-size: 11px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
}
button.menu {
  display: block;
  margin-left: 20px;
  padding: 0 10px;
  line-height: 21px;
  height: 21px;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #258;
  background-color: #ddd;
  vertical-align: top;
  border: none;
  cursor: pointer;
}
button.menu svg {
  vertical-align: middle;
  fill: #258;
  line-height: 21px;
  margin-right: 0.5em;
}
button.menu span {
  vertical-align: middle;
}
